---
import myProfile from '../assets/my-profile.jpg';
---

<section id="section" class="px-5 py-4">
  <main class="space-y-6">
    <p class="italic">John Daniel M. Del Monte</p>
    <h2 class="text-4xl uppercase">
      <span class="block">Let's work</span> together
    </h2>
    <img
      id="my-picture"
      class="h-60 mx-auto"
      src={myProfile.src}
      alt="Picture of myself smiling"
    />
    <ul class="space-y-4 px-10 text-sm">
      <li>
        <div>
          <h3 class="text-lg">Phone</h3>
          <p>+63 999 4684 950</p>
        </div>
      </li>
      <hr />
      <li>
        <div>
          <h3 class="text-lg">Email</h3>
          <p>delmontejohndaniel80@gmail.com</p>
        </div>
      </li>
      <hr />
    </ul>
  </main>
</section>
