---
// DUMMY PICTURE (TO BE CHANGED)
import artistry2 from '../assets/artistry-2.jpg';
---

<section id="credentials" class="px-5 py-4">
  <main class="space-y-6">
    <h2 class="text-4xl uppercase">My Credentials</h2>
    <div class="text-sm">
      <p class="italic">Pamantasan ng Cabuyao (UC), 2020-2024</p>
      <p>BS Computer Science</p>
    </div>
    <div class="text-sm">
      <p class="italic">Saint Benilde International School 2018-2020</p>
      <p>General Academic Strand (GAS)</p>
    </div>
    <div class="text-sm">
      <p class="italic">Yazaki Torres Manufacturing Inc.</p>
      <p>Computer Programmer Intern, 2020</p>
    </div>
    <img src={artistry2.src} alt="Picture of me coding" class="max-w-72 mx-auto" />
  </main>
</section>
