---
// DUMMY PICTURE (TO BE CHANGED)
import artistry2 from '../assets/artistry-2.jpg';
---

<section id="credentials" class="px-5 py-4 h-screen">
  <main class="space-y-6 sm:flex h-full">
    <div class="sm:flex sm:flex-col sm:justify-around">
      <h2
        id="credentials-title"
        class="text-3xl uppercase mb-5 -translate-x-full transition-transform ease-out duration-1000 sm:mb-0 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
      >
        My Credentials
      </h2>
      <div
        class="space-y-12 sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
      >
        <div id="college" class="-translate-x-full transition-transform ease-out duration-1000">
  
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Pamantasan ng Cabuyao (UC), 2020-2024
          </p>
          <p>BS Computer Science</p>
        </div>
        <div id="shs"  class="-translate-x-full transition-transform ease-out duration-2000">
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Saint Benilde International School 2018-2020
          </p>
          <p>General Academic Strand (GAS)</p>
        </div>
        <div id="yazaki" class="-translate-x-full transition-transform ease-out duration-3000">
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Yazaki Torres Manufacturing Inc.
          </p>
          <p>Computer Programmer Intern, 2020</p>
        </div>
      </div>
    </div>

    <figure class="sm:flex sm:justify-center sm:items-center sm:w-1/2">
      <img
        id="coding"
        src={artistry2.src}
        alt="Picture of me coding"
        class="my-picture opacity-0 transition-opacity duration-1000 max-w-64 mx-auto md:max-w-96"
      />
    </figure>
  </main>

  <script>
    const credentialTitle = document.getElementById('credentials-title');
    const college = document.getElementById('college');
    const shs = document.getElementById('shs');
    const yazaki = document.getElementById('yazaki');
    const coding = document.getElementById('coding');

    const intersectinObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          credentialTitle.classList.remove('-translate-x-full');
          college.classList.remove('-translate-x-full');
          shs.classList.remove('-translate-x-full');
          yazaki.classList.remove('-translate-x-full');
          coding.classList.remove('opacity-0');
        } else {
          credentialTitle.classList.add('-translate-x-full');
          college.classList.add('-translate-x-full');
          shs.classList.add('-translate-x-full');
          yazaki.classList.add('-translate-x-full');
          coding.classList.add('opacity-0');

        }
      })
    });

    const hiddenElements = [credentialTitle];
    hiddenElements.forEach((hiddenElement) => intersectinObserver.observe(hiddenElement));
  </script>
</section>

<style scoped>
  .my-picture {
    max-height: 30rem;
  }

  .duration-2000 {
    transition-duration: 2000ms;
  }

  .duration-3000 {
    transition-duration: 3000ms;
  }
</style>
