---
// DUMMY PICTURE (TO BE CHANGED)
import artistry2 from '../assets/artistry-2.jpg';
---

<section id="credentials" class="px-5 py-4 h-screen">
  <main class="space-y-6 sm:flex h-full">
    <div class="sm:flex sm:flex-col sm:justify-around">
      <h2
        class="text-3xl uppercase mb-5 sm:mb-0 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
      >
        My Credentials
      </h2>
      <div
        class="space-y-12 sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
      >
        <div>
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Pamantasan ng Cabuyao (UC), 2020-2024
          </p>
          <p>BS Computer Science</p>
        </div>
        <div>
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Saint Benilde International School 2018-2020
          </p>
          <p>General Academic Strand (GAS)</p>
        </div>
        <div>
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Yazaki Torres Manufacturing Inc.
          </p>
          <p>Computer Programmer Intern, 2020</p>
        </div>
      </div>
    </div>

    <figure class="sm:flex sm:justify-center sm:items-center sm:w-1/2">
      <img
        src={artistry2.src}
        alt="Picture of me coding"
        class="my-picture max-w-64 mx-auto md:max-w-96"
      />
    </figure>
  </main>
</section>

<style scoped>
  .my-picture {
    max-height: 30rem;
  }
</style>
