<section id="credentials" class="px-5 py-4 h-screen">
  <main class="space-y-6 sm:flex h-full">
    <div class="sm:flex sm:flex-col sm:justify-around">
      <h2
        id="credentials-title"
        class="text-3xl uppercase mb-5 -translate-x-full transition-transform ease-out duration-1000 sm:mb-0 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
      >
        Educational Attainment
      </h2>
      <div
        class="space-y-12 sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
      >
        <div id="college" class="-translate-x-full transition-transform ease-out">
  
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Pamantasan ng Cabuyao (UC), 2020-2024
          </p>
          <p>BS Computer Science</p>
        </div>
        <div id="shs"  class="-translate-x-full transition-transform ease-out">
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Saint Benilde International School 2018-2020
          </p>
          <p>General Academic Strand (GAS)</p>
        </div>
        <div id="jhs"  class="-translate-x-full transition-transform ease-out">
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Calamba National High School Annex 2014-2018
          </p>
        </div>
        <div id="elementary"  class="-translate-x-full transition-transform ease-out">
          <p
            class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
          >
            Banlic Elementary School
          </p>
        </div>
      </div>
    </div>
  </main>

  <script>
    const credentialTitle = document.getElementById('credentials-title');
    const college = document.getElementById('college');
    const shs = document.getElementById('shs');
    const jhs = document.getElementById('jhs');
    const elementary = document.getElementById('elementary');

    const intersectinObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('-translate-x-full');
          return;
        } else {
          entry.target.classList.add('-translate-x-full');
        }
      })
    });

    const hiddenElements = [credentialTitle, college, shs, jhs, elementary];
    hiddenElements.forEach((hiddenElement) => intersectinObserver.observe(hiddenElement));
  </script>
</section>

<style scoped>
  .my-picture {
    max-height: 30rem;
  }
</style>
