<section id="education" class="px-5 py-4 h-screen">
  <main class="space-y-6 h-full">
    <div class="sm:flex sm:flex-col sm:justify-around h-full">
      <h2
        id="education-title"
        class="text-3xl uppercase mb-5 -translate-x-full transition-transform ease-out duration-1000 sm:mb-0 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
      >
        Educational Attainment
      </h2>


      <ul class="timeline timeline-vertical">
        <li>
          <hr />
          <div class="timeline-start timeline-box bg-inherit text-inherit">2020-2024</div>
          <div id="college" class="timeline-box timeline-end bg-inherit text-inherit">
            <p
              class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
            >
              Pamantasan ng Cabuyao (UC)
            </p>
            <p>BS Computer Science</p>
          </div>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <hr/>
        </li>
        <li>
          <hr />
          <div class="timeline-end timeline-box bg-inherit text-inherit">2018-2020</div>
          <div id="shs"  class="timeline-box timeline-start bg-inherit text-inherit">
            <p
              class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
            >
              Saint Benilde International School
            </p>
            <p>General Academic Strand (GAS)</p>
          </div>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <hr/>
        </li>
        <li>
          <hr />
          <div class="timeline-start timeline-box bg-inherit text-inherit">2014-2018</div>
          <div id="jhs"  class="timeline-box timeline-end bg-inherit text-inherit">
            <p
              class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
            >
              Calamba National High School Annex
            </p>
          </div>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <hr/>
        </li>
        <li class="bg-inherit text-inherit">
          <hr />
          <div class="timeline-end timeline-box">2008-2014</div>
          <div id="elementary"  class="timeline-box timeline-start">
            <p
              class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
            >
              Banlic Elementary School
            </p>
          </div>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <hr/>
        </li>
      </ul>
    </div>
  </main>

  <script>
    const credentialTitle = document.getElementById('education-title');
    const college = document.getElementById('college');
    const shs = document.getElementById('shs');
    const jhs = document.getElementById('jhs');
    const elementary = document.getElementById('elementary');

    const intersectinObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('-translate-x-full');
          return;
        } else {
          entry.target.classList.add('-translate-x-full');
        }
      })
    });

    const hiddenElements = [credentialTitle, college, shs, jhs, elementary];
    hiddenElements.forEach((hiddenElement) => intersectinObserver.observe(hiddenElement));
  </script>
</section>

<style scoped>
  .my-picture {
    max-height: 30rem;
  }
</style>
