<section id="experiences" class="px-5 py-4 h-screen">
  <main class="space-y-6 h-full">
    <div class="sm:flex sm:flex-col sm:justify-around h-full">
      <h2
        id="experiences-title"
        class=" text-3xl uppercase mb-5 transition-transform ease-out duration-1000 sm:mb-0 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
      >
        Work Experience
      </h2>
      <ul class="timeline timeline-vertical lg:timeline-horizontal mx-auto bg-white text-black">
        <li>
          <hr />
          <div class="timeline-end timeline-box bg-inherit text-inherit">2024</div>
          <div id="pixel8" class="timeline-start timeline-box bg-inherit text-inherit">
            <p
              class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
            >
              Pixel8 Web Solutions & Consultancy Inc.
            </p>
            <p>Frontend Developer Intern</p>
          </div>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <hr/>
        </li>
        <li>
          <hr />
          <div class="timeline-start timeline-box bg-inherit text-inherit">2021</div>
          <div id="gleent" class="timeline-end timeline-box bg-inherit text-inherit">
            <p
              class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
            >
              Gleent Incorporated
            </p>
            <p>Frontend Developer Intern</p>
          </div>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <hr/>
        </li>
        <li>
          <hr />
          <div class="timeline-end timeline-box bg-inherit text-inherit">2020</div>
          <div id="yazaki" class="timeline-start timeline-box bg-inherit text-inherit">
            <p
              class="italic sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
            >
              Yazaki Torres Manufacturing Inc.
            </p>
            <p>Computer Programmer Intern</p>
          </div>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <hr/>
        </li>
      </ul>
    </div>
  </main>

  <script>
    const experiencesTitle = document.getElementById('experiences-title');
    const pixel8 = document.getElementById('pixel8');
    const gleent = document.getElementById('gleent');
    const yazaki = document.getElementById('yazaki');

    const intersectinObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('-translate-x-full');
          return;
        } else {
          entry.target.classList.add('-translate-x-full');
        }
      })
    });

    const hiddenElements = [experiencesTitle, pixel8, gleent, yazaki];
    hiddenElements.forEach((hiddenElement) => intersectinObserver.observe(hiddenElement));
  </script>
</section>
