---
import myProfile from '../assets/my-profile.jpg';
---

<section id="header" class="px-5 py-14">
  <main class="relative">
    <span id="my-name" class="absolute italic left-0 top-0 -translate-y-3 -translate-x-40 transition-transform ease-out duration-1000">John Daniel</span>
    <figure>
      <figcaption>
        <h1 id="my-vision" class="text-center translate-y-18 opacity-0 transition-all ease-out duration-1000 z-50">
          <span class="text-5xl uppercase">Aspirer</span>
          <span class="text-5xl uppercase">Dreamer</span>
          <span class="text-5xl uppercase">Developer</span>
        </h1>
      </figcaption>
      <img id="my-picture" class="h-40 mx-auto opacity-0 transition-opacity duration-400 -z-0" src={myProfile.src} alt="Picture of myself smiling" />
    </figure>
    <span id="my-role" class="absolute right-0 bottom-0 translate-y-10 translate-x-40 transition-transform ease-out duration-1000">Developer</span>
  </main>
  <script>
    const myName = document.getElementById('my-name');
    const myRole = document.getElementById('my-role');
    const myVision = document.getElementById('my-vision');
    const myPicture = document.getElementById('my-picture');

    myName.classList.remove('-translate-x-40');
    myRole.classList.remove('translate-x-40');

    myVision.classList.remove('opacity-0', 'translate-y-18');
    myVision.classList.add('translate-y-6', 'opacity-1');

    myPicture.classList.remove('opacity-0');
  </script>
</section>