<nav id="navbar" class="navbar fixed z-50 opacity-0 transition-all bg-white text-black shadow-sm">
  <div class="dropdown">
    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
    </div>
    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li><a href="#artistry">Artistry</a></li>
      <li><a href="#experiences">Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#recent-projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div class="flex-1">
    <div class="tooltip tooltip-bottom" data-tip="Hi!">
      <a href="#header" class="btn btn-ghost text-xl">John Daniel</a>
    </div>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 hidden lg:flex">
      <li><a href="#artistry">Artistry</a></li>
      <li><a href="#experiences">Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#recent-projects">Projects</a></li>
      <li class="tooltip tooltip-bottom" data-tip="Reach me!"><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>

<script>
  const header = document.getElementById('header');
  const navbar = document.getElementById('navbar');
  const intersectionObserver = new IntersectionObserver((entries) => {
    if (entries[0].isIntersecting) {
      navbar.classList.add('opacity-0');
    } else {
      navbar.classList.remove('opacity-0');
    }
  });

  intersectionObserver.observe(header);
</script>