---
import artistry1 from '../assets/artistry-1.jpg';
import artistry2 from '../assets/artistry-2.jpg';
---

<section id="past-projects" class="px-5 py-4">
  <main class="space-y-6">
    <h2 class="text-4xl uppercase">My most recent projects</h2>
    <div class="text-sm">
      <figure class="space-y-4">
        <figcaption class="text-center italic">
          Sunnyside agencly landing page (frontendmentor)
        </figcaption>
        <img src={artistry2.src} class="max-w-64 mx-auto" />
        <figcaption class="text-justify">
          Developed a user-friendly data compression system that provides
          efficient compression ratio and compression speed in regards with the
          time and speed of both compression and decompression.
        </figcaption>
      </figure>
    </div>
    <div class="text-sm">
      <figure class="space-y-4">
        <figcaption class="text-center italic">
          Quote Generator
        </figcaption>
        <img src={artistry2.src} class="max-w-64 mx-auto" />
        <figcaption class="text-justify">
          Developed a user-friendly management system that can manage and secure
          trip and travel informaion efficiently.
        </figcaption>
      </figure>
    </div>
    <div class="text-sm">
      <figure class="space-y-4">
        <figcaption class="text-center italic">
          Advice Generator App
        </figcaption>
        <img src={artistry1.src} />
        <figcaption class="text-justify">
          Developed a responsive landing page that seamlessly adapts to various
          screen sizes and devices, ensuring an optimal user experience.
        </figcaption>
      </figure>
    </div>
  </main>
</section>
