---
import artistry1 from '../assets/artistry-1.jpg';
import artistry2 from '../assets/artistry-2.jpg';

import sunnyside from '../assets/sunnyside-landing-page.png';
import clipboard from '../assets/clipboard-landing-page.png';
import adviceGenerator from '../assets/advice-generator.png';
---

<section id="past-projects" class="px-5 py-4">
  <main class="space-y-6">
    <h2
      id="past-projects-title"
      class="text-3xl uppercase -translate-x-full transition-translate duration-1000 md:mb-10 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
    >
      My past projects
    </h2>

    <section
      class="text-sm sm:flex sm:flex-row sm:justify-center sm:gap-10 sm:px-20 sm:flex-wrap md:flex-nowrap md:justify-between"
    >
      <figure
        id="past-project-1"
        class="space-y-4 opacity-0 -translate-x-full transition-translate duration-1000 sm:w-5/12 lg:w-auto"
      >
        <figcaption class="text-center italic">
          Sunnyside agencly landing page
        </figcaption>
        <img src={sunnyside.src} />
        <figcaption
          class="text-center sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
        >
          Developed a responsive landing page for sunnyside.
        </figcaption>
      </figure>

      <figure
        id="past-project-2"
        class="space-y-4 opacity-0 -translate-x-full transition-translate duration-1000 sm:w-5/12 lg:w-auto"
      >
        <figcaption class="text-center italic">Quote Generator</figcaption>
        <img src={adviceGenerator.src} />
        <figcaption
          class="text-center sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
        >
          Developed a fully responsive quote generator that utlizes 3rd party
          REST API
        </figcaption>
      </figure>
      <figure
        id="past-project-3"
        class="space-y-4 opacity-0 -translate-x-full transition-translate duration-1000 sm:w-5/12 lg:w-auto"
      >
        <figcaption class="text-center italic">Advice Generator App</figcaption>
        <img src={clipboard.src} />
        <figcaption
          class="text-center sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
        >
          Developed a responsive landing page for clipboard that seamlessly
          adapts to various screen sizes and devices, ensuring an optimal user
          experience.
        </figcaption>
      </figure>
    </section>
    <p class="italic text-center pt-10">
      To view more of my projects, see my <a
        class="underline font-bold"
        href="https://github.com/eyedent1ty" target="_blank">Github profile.</a>
    </p>
  </main>
  <script>
    const pastProjectsTitle = document.getElementById('past-projects-title');
    const pastProject1 = document.getElementById('past-project-1');
    const pastProject2 = document.getElementById('past-project-2');
    const pastProject3 = document.getElementById('past-project-3');

    const hiddenElements = [
      pastProjectsTitle,
      pastProject1,
      pastProject2,
      pastProject3
    ];

    const intersectionObsever = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          pastProjectsTitle.classList.remove('-translate-x-full');
          pastProject1.classList.remove('-translate-x-full');
          pastProject1.classList.remove('opacity-0');

          pastProject2.classList.remove('-translate-x-full');
          pastProject2.classList.remove('opacity-0');

          pastProject3.classList.remove('-translate-x-full');
          pastProject3.classList.remove('opacity-0');
        } else {
          pastProjectsTitle.classList.add('-translate-x-full');
          pastProject1.classList.add('-translate-x-full');
          pastProject1.classList.add('opacity-0');

          pastProject2.classList.add('-translate-x-full');
          pastProject2.classList.add('opacity-0');

          pastProject3.classList.add('-translate-x-full');
          pastProject3.classList.add('opacity-0');
        }
      });
    });

    hiddenElements.forEach((hiddenElement) =>
      intersectionObsever.observe(hiddenElement)
    );
  </script>
</section>

<style scoped>
  .duration-2000 {
    transition-duration: 2000ms;
  }

  .duration-3000 {
    transition-duration: 3000ms;
  }
</style>
