---
import artistry1 from '../assets/artistry-1.jpg';
import artistry2 from '../assets/artistry-2.jpg';

import sunnyside from '../assets/sunnyside-landing-page.png';
import clipboard from '../assets/clipboard-landing-page.png';
import adviceGenerator from '../assets/advice-generator.png';

import kaelExpress from '../assets/kael-express.png';
import roedManagementSystem from '../assets/roed-management-system.png';
import simultaneousDataCompression from '../assets/simultaneous-data-compression.png';
---

<section id="recent-projects" class="px-5 py-4">
  <main class="space-y-6">
    <h2
      id="recent-projects-title"
      class="text-3xl uppercase -translate-x-full transition-translate duration-1000 md:mb-10 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
    >
      My most recent projects
    </h2>

    <section
      class="text-sm sm:flex sm:flex-row sm:justify-center sm:gap-10 sm:px-20 sm:flex-wrap md:flex-nowrap md:justify-between"
    >
      <figure
        id="recent-project-1"
        class="flex-1 space-y-4 opacity-0 -translate-x-full transition-translate duration-1000 sm:w-5/12  mb-12  lg:w-auto"
      >
        <figcaption class="text-center italic">
          Kael Express (E-commerce site)
        </figcaption>
        <img src={kaelExpress.src} />
        <figcaption
          class="text-center sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
        >
          Developed a fully responsive e-commerce platform that harnesses the power of the internet to provide users with an effortless online buying experience.
        </figcaption>
      </figure>

      <figure
        id="recent-project-2"
        class="flex-1 space-y-4 opacity-0 -translate-x-full transition-translate duration-1000 sm:w-5/12 mb-12 lg:w-auto"
      >
        <figcaption class="text-center italic">
          Trucking Management System for Ro-Ed Logistics and Services
        </figcaption>
        <img src={roedManagementSystem.src} />
        <figcaption
          class="text-center sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
        >
          Developed a user-friendly management system that can manage and secure
          trip and travel informaion efficiently.
        </figcaption>
      </figure>
      <figure
        id="recent-project-3"
        class="flex-1 space-y-4 opacity-0 -translate-x-full transition-translate duration-1000 sm:w-5/12  mb-12  lg:w-auto"
      >
        <figcaption class="text-center italic">
          Simultaneous Data Compression for faster encoding and decoding using
          Huffman Algorithm
        </figcaption>
        <img src={simultaneousDataCompression.src} />
        <figcaption
          class="text-center sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"
        >
          Contributed in the development of a user-friendly data compression
          system that provides efficient compression ratio and compression speed
          in regards with the time and speed of both compression and
          decompression.
        </figcaption>
      </figure>
    </section>
  </main>
  <script>
    const recentProjects = document.getElementById('recent-projects');
    const recentProjectsTitle = document.getElementById('recent-projects-title');
    const recentProject1 = document.getElementById('recent-project-1');
    const recentProject2 = document.getElementById('recent-project-2');
    const recentProject3 = document.getElementById('recent-project-3');

    const hiddenElements = [
      recentProjects
    ];

    const intersectionObsever = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          recentProjectsTitle.classList.remove('-translate-x-full');
          recentProject1.classList.remove('-translate-x-full');
          recentProject1.classList.remove('opacity-0');

          recentProject2.classList.remove('-translate-x-full');
          recentProject2.classList.remove('opacity-0');

          recentProject3.classList.remove('-translate-x-full');
          recentProject3.classList.remove('opacity-0');
        } else {
          recentProjectsTitle.classList.add('-translate-x-full');
          recentProject1.classList.add('-translate-x-full');
          recentProject1.classList.add('opacity-0');

          recentProject2.classList.add('-translate-x-full');
          recentProject2.classList.add('opacity-0');

          recentProject3.classList.add('-translate-x-full');
          recentProject3.classList.add('opacity-0');
        }
      });
    });

    hiddenElements.forEach((hiddenElement) =>
      intersectionObsever.observe(hiddenElement)
    );
  </script>
</section>

<style scoped>
  .duration-2000 {
    transition-duration: 2000ms;
  }

  .duration-3000 {
    transition-duration: 3000ms;
  }
</style>
