---
import artistry1 from '../assets/artistry-1.jpg';
---

<section id="recent-projects" class="px-5 py-4">
  <main class="space-y-6">
    <h2 class="text-4xl uppercase">My most recent projects</h2>
    <div class="text-sm">
      <figure class="space-y-4">
        <figcaption class="text-center italic">
          Simultaneous Data Compression for faster encoding and decoding using
          Huffman Algorithm
        </figcaption>
        <img src={artistry1.src} />
        <figcaption class="text-justify">
          Developed a user-friendly data compression system that provides
          efficient compression ratio and compression speed in regards with the
          time and speed of both compression and decompression.
        </figcaption>
      </figure>
    </div>
    <div class="text-sm">
      <figure class="space-y-4">
        <figcaption class="text-center italic">
          Trucking Management System for Ro-Ed Logistics and Services
        </figcaption>
        <img src={artistry1.src} />
        <figcaption class="text-justify">
          Developed a user-friendly management system that can manage and secure
          trip and travel informaion efficiently.
        </figcaption>
      </figure>
    </div>
    <div class="text-sm">
      <figure class="space-y-4">
        <figcaption class="text-center italic">
          Landing page for Ro-ed Logistics and Services
        </figcaption>
        <img src={artistry1.src} />
        <figcaption class="text-justify">
          Developed a responsive landing page that seamlessly adapts to various
          screen sizes and devices, ensuring an optimal user experience.
        </figcaption>
      </figure>
    </div>
  </main>
</section>
