<section id="skills" class="px-5 py-4 min-h-screen">
  <main class="space-y-6">
    <h2
      id="skills-title"
      class="text-3xl uppercase md:mb-10 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:8xl"
    >
      Skills
    </h2>
  </main>
</section>
